<%= content_for :title, 'Global Edutech Trading & Consultancy | All Document Listings' %>

<div class="container">
	<div class="page-header">
		<h1 class="text-center">All Documents</h1>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="well">
				<% @docs.each do |doc| -%>
						<h2><%= link_to doc.title, doc_path(doc)-%></h2>
						<small>submitted <%= time_ago_in_words(doc.created_at) -%> ago by <%= current_agent.name -%></small>
						<p><%= truncate(doc.description, { length: 30 })  -%></p>
				<% end -%>
			</div>
			
		</div>
	</div>
</div>



