<%= content_for :title, 'Global Edutech Trading & Consultancy | Show Document' %>

<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<p class="notice alert-success text-center"><%= notice %></p>
          <p class="alert text-center"><%= alert %></p>
			<h2><%= @doc.title -%></h2>

			<p><%= @doc.description -%></p>

			<%= link_to image_tag(@doc.document, class: "img-thumbnail docImg"), @doc.document.url -%>
			<br><br>
			<%= link_to "Back", docs_path -%> |
			<%= link_to "Edit Document", edit_doc_path(@doc) -%> | 
			<%= link_to "Delete Document", doc_path, method: :delete, data: { confirm: "Are you sure?" } -%>
		</div>
	</div>
</div>



